@import url('https://fonts.googleapis.com/css?family=Gaegu');
@import url('https://fonts.googleapis.com/css?family=Cuprum');

.navbar {
  min-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.brand-logo {
  height: 70px;
  width: 70px;
  margin: 20px 20px 20px 0;
}

.navbar-brand {
  font-family: 'Gaegu', cursive;
  font-size: 45px;
}

.navbar-nav {
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
}

a.fab {
  margin: 10px;
  color: black;
  height: 30px;
  width: 30px;
}